<div style="width: 100%">
    <div style="width: 98%">
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>home</mat-icon>
            </button>
            <span>Pics Repo</span>
            <span class="example-spacer"></span>
            <mat-form-field class="example-form-field" fxFlex.sm="0 1 calc(50%-2%)" fxFlex.md="0 1 calc(33%-2%)" fxFlex.gt-md="0 1 calc(25%-2%)">
                <mat-label>SearchBy Name</mat-label>
                <input matInput type="text" [(ngModel)]="searchvalue" (keyup)="refresh()">
                <button mat-button *ngIf="searchvalue" matSuffix mat-icon-button aria-label="Clear" (click)="searchvalue=''">
            <mat-icon>close</mat-icon>
          </button>
            </mat-form-field>
            <span class="example-spacer"></span>
            <mat-form-field fxFlex.sm="0 1 calc(50%-2%)" fxFlex.md="0 1 calc(33%-2%)" fxFlex.gt-md="0 1 calc(25%-2%)">
                <mat-select [(ngModel)]="sortOrder" name="sort" (selectionChange)="refresh()">
                    <mat-option *ngFor="let date of sortDates" [value]="date.value">
                        {{date.sortType}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <span class="example-spacer"></span>
            <button mat-raised-button color="accent" type="button" (click)="openDialog()" fxFlex.sm="0 1 calc(50%-2%)" fxFlex.md="0 1 calc(33%-2%)" fxFlex.gt-md="0 1 calc(25%-2%)">Add</button>
        </mat-toolbar>
    </div>

    <div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="2%" style="margin-top: 2%">
        <mat-card fxFlex.sm="0 1 calc(50%-2%)" fxFlex.md="0 1 calc(33%-2%)" fxFlex.gt-md="0 1 calc(25%-2%)" *ngFor="let pic of picsList">
            <mat-card-header>
                <mat-card-title>Name: {{pic.name}}</mat-card-title>
                <mat-card-subtitle>Uploaded At: {{pic.updatedAt | date: 'dd-MM-yyyy h:mm:ss a'}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{pic.url}}" style="object-fit: fill;">
        </mat-card>
    </div>
</div>